h1, h2, h3, h4, h5, h6 {
  margin: $grid_gutter/2 0;
  font-weight: 300;
}

h1 { font-size: 2em;    /* 2*16 = 32 */       }
h2 { font-size: 1.5em;  /* 1.5*16 = 24 */     }
h3 { font-size: 1.17em; /* 1.17*16 = 18.72 */ }
h4 { font-size: 1em;    /* 1*16 = 16 */       }
h5 { font-size: 0.83em; /* 0.83*16 = 13.28 */ }
h6 { font-size: 0.75em; /* 0.75*16 = 12 */    }
