version: '2'

volumes:
  postgres_data_dev: {}

services:
  postgres:
    image: postgres:10
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  redis:
    image: redis:4

  django:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: python /app/manage.py runserver 0.0.0.0:8001
    user: "1000"
    depends_on:
      - postgres
    volumes:
      - .:/app
      - ~/.ipython:/home/django/.ipython
    ports:
      - "127.0.0.1:8001:8001"
    links:
      - postgres
      - redis
