[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
isort = "*"
Werkzeug = "*"
pyOpenSSL = "*"
factory_boy = "<3.0,>=2.9"
"flake8-isort" = "*"
"flake8-builtins" = "*"
"flake8-comprehensions" = "*"
ipdb = "*"
responses = "*"
django-debug-toolbar = "*"
pytest-django = "*"
pytest-asyncio = "*"
black = "*"

[packages]
Django = ">=2.0,<2.1"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
django-extensions = "*"
"psycopg2-binary" = ">=2.7.4,<2.8"
channels = ">=2.1.1,<2.2"
channels_redis = "*"
service_identity = "*"
django-redis = "*"
attrs = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
